<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/edit/change-password(id=${adminPasswordChangeDto.getId()})}" th:object="${adminPasswordChangeDto}">
    <input type="hidden" th:field="*{id}" />
    <br/>
    <br/>
    <label for="password">Enter new password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div th:errors="*{password}" class="error"/>
    <br/>
    <br/>
    <label for="confPassword">Confirm password: </label>
    <input type="password" th:field="*{confirmPassword}" id="confPassword"/>
    <div th:errors="*{confirmPassword}" class="error"/>
    <br/>
    <br/>

    <input type="submit" value="Изменить пароль"/>
</form>

<br/>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти" />
</form>

</body>
</html>